.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-right: 60px;
    margin-top: 30px;
    /* background-color: rgb(108, 98, 98); */
}
.msg {
    width: 200px;
    margin-left: 855px;
}
.sign-popup {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(61, 59, 59);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(108, 98, 98);
    transition: background-color 1s, color 1s;
}
.sign-popup:hover {
    background-color: rgb(146, 140, 140);
    color: #161616;
    opacity: 0.7;
}

.sidebar { 
    position: fixed; 
    left: 0; 
    bottom: 0; 
    top: 0; 
     width: 300px; 
     z-index: 200; 
    /* background-image: url(My\ 06.17.23\ Spark.png);  */
} 
.sidebarimg {
    width: 300px;
    height: 700px;
    
}
.body {
    padding-bottom: 1000px;
    padding-left: 500px;
    /* background-color: rgb(225, 219, 208); */
}
.text1 {
    font-size: xx-large;
    margin-bottom: 20px;
}
.text2 {
    margin-bottom: 30px;
}
.kifkif {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 510px;
}
.required {
    font-family: "GT America", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.01em;
    line-height: 13px;
    margin: 0px;
    color: rgb(46, 46, 52);
    text-align: left;
    } 
.email {
    font-family: "GT America", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 13px;
    margin-bottom: 10px;
    color: rgb(46, 46, 52);
    text-align: right;
} 
.search-bar {
    height: 30px;
    width: 510px;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    background-color: aliceblue;
}
.login-popup {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(61, 59, 59);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(108, 98, 98);
    transition: background-color 1s, color 1s;
    margin-left: 215px;
}
.login-popup:hover {
    background-color: rgb(146, 140, 140);
    color: #161616;
    opacity: 0.7;
}
