* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
   
    background-image: radial-gradient(ellipse at left, rgb(226, 226, 184) 0%,rgb(95, 80, 80)100%);
}
body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    top: 100px;
   
    
}
header {
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 99;
    background-color: white
}
.logo {
    width: 100px;
    flex: 100px;
    font-size:x-large;
    letter-spacing: 6px;
    color: black;
}
.navigateur {
    flex: 1;
    display: grid;
    grid-template-columns: 100px 100px 100px; 
}
.navigateur a {
    text-decoration: none;
    color: black;
}
.login-popup {
    margin: 20px;
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: black;
    transition: background-color 1s, color 1s;
}
.login-popup:hover {
    background-color: rgb(138, 99, 99);
    color: #161616;
    opacity: 0.7;
}
.contenu {
    padding-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xxx-large;
    margin-bottom: 10px;
    padding-left: 170px; 
    align-items: center;
}
.text {
    margin-left: 165px;
}
.txt {
    margin-left: 20px;
}
.text1{
    font-size: 20px;
    font-weight: bold;

}
.kifkif {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-left: 210px;
}
.create-popup {
    margin: 20px;
    margin-left: 230px;
    /* width: 100px; */
    height: 40px;
    padding: 0px 100px;
    background: transparent;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    transition: background-color 1s, color 1s;
}
.create-popup:hover {
    background-color: rgb(138, 99, 99);
    color: #161616;
    opacity: 0.7;
}