* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    align-items: center;
    text-align: center;
    min-width: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    top: 100px;
    background-image: radial-gradient(ellipse at left, rgb(226, 226, 184) 0%,rgb(95, 80, 80)100%);
}
.contenu {
    padding-top:50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 50px;
    align-items: center;
}
.text {
    margin-left: 8px;
}
.txt {
    margin-left: 5px;
}

.kifkif {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 10px;
    margin-left: 500px;
}
.create-popup {
    margin: 30px;
    margin-left: 25px;
    /* width: 100px; */
    height: 40px;
    padding: 0px 100px;
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    
}
.create-popup:hover {
    background-color: rgb(126, 114, 114);
    color: #ffffff;
    
}
.lienemail{
    color: black;
    text-decoration: none;
    
}
.navbar-brand{
    margin: 22px;
    padding-left: 300px;
   
font-size: x-large;
}
.nav-link{
    font-size: large; 
    margin: 10px;
  
}